<h1>SEARCH FOR REPRESENTATIVE OR SENATOR</h1>

<form action="/officials" method="POST">
  <div class="form-group">
    <label for="name">SEARCH BY NAME</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      value="<%= nameField%>"
    />
  </div>
  <input type="submit" class="btn btn-primary" />
</form>

<ul>
  <% officialsArr.forEach(element => { %>
  <li><%= element.name %></li>
  <form action="/officials/add" method="POST">
    <input hidden type="hidden" name="name" value="<%= element.name %>" />
    <input hidden type="hidden" name="state" value="<%= element.state %>" />
    <input hidden type="hidden" name="party" value="<%= element.party %>" />
    <% if (userOfficialsArr.includes(element.name)) { %>
    <input type="button" value="Added" />
    <% } else { %>
    <input type="submit" value="Add to Watchlist" />
    <% } %>
  </form>
  <% }) %>
</ul>
