<h1>SEARCH FOR STOCK</h1>
<form action="/stocks" method="POST">
  <div class="form-group">
    <label for="name">SEARCH BY NAME</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      value="<%= name %>"
    />
  </div>
  <div class="form-group">
    <label for="symbol">SEARCH BY SYMBOL (ex. AAPL)</label>
    <input
      type="text"
      class="form-control"
      id="symbol"
      name="symbol"
      value="<%= symbolName %>"
    />
  </div>
  <input type="submit" class="btn btn-primary" />
</form>

<ul>
  <% results.forEach(element => { %>
  <li><%= element["Company Name"] %></li>
  <form action="/stocks/add" method="POST">
    <input hidden type="hidden" name="name" value="<%= element["Company Name"]
    %>" />
    <input
      hidden
      type="hidden"
      name="symbol"
      value="<%=
    element.Symbol %>"
    />
    <% if (userStocksArr.includes(element["Company Name"])) { %>
    <input type="button" value="Added" />
    <form action="/stocks/<%= element.Symbol%>/?_method=DELETE" method="post">
      <input type="submit" value="Remove from Watchlist" />
    </form>
    <% } else { %>
    <input type="submit" value="Add to Watchlist" />
    <% } %>
  </form>
  <% }) %>
</ul>
